<div class="banner">
  <div class="item-search-bar">
    <div class="landing-header">
      <h1> Sad, amused, inspired, ... ??? </h1>
      <div class="search">
        <span class="fa fa-search"></span>
        <input placeholder="Books, books, books">
      </div>
    </div>
  </div>
  <div class="item">
  </div>
  <div class="item">
  </div>
  <div class="item">
  </div>
  <div class="item">
  </div>
  <div class="item">
  </div>
  <div class="item">
  </div>
  <div class="item">
  </div>
  <div class="item">
  </div>
  <div class="item">
  </div>
  <div class="item">
  </div>
  <div class="item">
  </div>
  <div class="item">
  </div>
  <div class="item">
  </div>
  <div class="item">
  </div>
  <div class="item">
  </div>
</div>


