    <div class="container">
        <div class="box-inner">
            <div class="book books-1 book-blur"></div>
            <div class="book books-2 book-blur"></div>
            <div class="book books-3 book-blur"></div>
        </div>
        <div class="box-out">
            <div class="book books-1"></div>
            <div class="book books-2"></div>
            <div class="book books-3"></div>
        </div>
    </div>

<a href="https://dribbble.com/YancyMin" class="dr-url" target="_blank"><img class="dr" src="https://cdn.dribbble.com/assets/logo-footer-hd-a05db77841b4b27c0bf23ec1378e97c988190dfe7d26e32e1faea7269f9e001b.png" alt=""></a>

