@keyframes blink-0 {
  0% { opacity: 0 }
  50% { opacity: 0.7 }
  100% { opacity: 0 }
}

@keyframes blink-1 {
  0% { opacity: 0.2 }
  50% { opacity: 0.7 }
  100% { opacity: 0.2 }
}

@keyframes blink-2 {
  0% { opacity: 0.4 }
  50% { opacity: 0.7 }
  100% { opacity: 0.4 }
}

.banner {
  display: flex;
  position: fixed;
  flex-wrap: wrap;
  width: 100vw;
  z-index: -1;
}

.item {
  height: 16.667vh;
  width: 10vw;
  box-sizing: border-box;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 5px;
  background-position: center;
  background-size: cover;
  transition: opacity 0.25s;
  opacity: .5;
  animation-iteration-count: infinite;
}

.animation-start-0 { animation-name: blink-0; }
.animation-duration-0 { animation-duration: 6s; }

.animation-start-1 { animation-name: blink-1; }
.animation-duration-1 { animation-duration: 10s; }

.animation-start-2 { animation-name: blink-2; }
.animation-duration-2 { animation-duration: 14s; }

.landing-header {
  text-align: center;
  width: 100vw;
  background-color: rgba(255, 255, 255, 1);
  z-index: 2;
  padding: 80px 10px;
  border-top: 20px solid $red;
  border-bottom: 20px solid $red;
}

.landing-header h1 {
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 20px;
  font-family: 'Special Elite';
}

.landing-header h3 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: 'Special Elite';
}

.landing-search-bar {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bckg-opacity {
  opacity: 0.2;
  top: 0;
}
