<div class="navbar-wagon <%= action_name == 'home' ? 'navbar-fixed-top' : '' %>">
  <!-- Logo -->
  <%= link_to root_path, class: "navbar-wagon-brand" do %>
    <%= image_tag("https://i.postimg.cc/tCQjNN0K/bookgenius-white.png", height: 80) %>
  <% end %>

  <!-- Right Navigation -->

    <div class="search-nav">
      <%= render "shared/search-bar" %>
   </div>
</div>
