  <div class="search">
    <%= form_tag(search_books_path, {class: 'form-inline landing-search-bar text-center', method: 'get'}) do %>
      <div class="form-group text-center">
      <label for="form" class="sr-only">Book</label>
      <%= text_field_tag :search, "", class: "form-control", placeholder: 'Search for a book (by author, title, category)' %>
      </div>
        <%= submit_tag("ðŸ”" , class: "btn btn-default")%>
        <% end %>
  </div>
