  <div class="search">
    <%= form_tag(search_books_path, {class: 'form-inline', method: 'get'}) do %>
      <%= text_field_tag :search, "", class: "form-control", placeholder: 'ðŸ” Find the book you want' %>
      <%= submit_tag 'Search', class: "btn"%>
    <% end %>&nbsp;
  </div>
