<% books.each do |book| %>
  <div class="book-card">
    <div class="book-cover"><img src='<%= image_url book[:image_url]%>'height="256" width="178" ></div>
    <div class="book-body">
      <h4><strong><%= book[:book].title %></strong></h4>
      <h5>By <%= book[:book].author %>  </h5>
      <p><%= book[:book].description[0..250].gsub(/\s\w+\s*$/,'...') %></p>
    </div>
    <div class="book-analysis">
      <h4 style="text-align:center"><strong>Social sentiment</strong></h4>
      <h5 style="font-size: 30px; text-align:center">No sentiment analysis yet</h5>
    </div>
  </div>
<% end %>
