<% books.each do |book| %>
  <div class="book-card">
    <div class="book-cover"><img src='<%= image_url book[:image_url]%>'height="256" width="178" ></div>
    <div class="book-body">
      <h2><%= book[:book].title %></h2>
      <h3>by <%= book[:book].author %>  </h3>
      <p><%= book[:book].description[0..150].gsub(/\s\w+\s*$/,'...') %></p>
      <h4>Sentiments:</h4>
      <div class="sentiments-box">
        <div class="network-sentiment">
          <p>No sentiments analysis available yet</p>
        </div>
      </div>
    </div>
    <div class="book-mentions">
      <h2>Mentions/reviews over time:</h2>
      <h5>No comments or reviews gathered yet</h5>
    </div>
  </div>
<% end %>
