<div class="container">
    <%= render 'book_list' %>
</div>

<% if @books.empty? %>
  <% content_for :after_js do %>
    <!-- user feedback -->
    $.get('books/google_search?search=<%= params[:search] %>')
  <% end %>
<% end %>
