<div class="container">
  <h2>Book list</h2>
    <%= render 'book_list' %>
</div>

<% if @books.empty? %>
  <%= javascript_tag do %>
    fetch('/books/google_search?search=parameters_of_the_search').then(response => response.json()).then(data => ());
  <% end %>
<% end %>
