<div class="container">
  <% if params[:search].present? %>
    <h2>Books matching your search "<%= params[:search] %>"</h2>
  <% else %>
    <h2>Book list</h2>
  <% end %>
    <%= render 'book_list' %>
</div>

<% if params[:search].present? %> <!-- && @books.empty? -->
  <% content_for :after_js do %>
    <!-- user feedback -->
    $.get('books/google_search?search=<%= params[:search] %>')
  <% end %>
<% end %>
