<div class="banner bckg-opacity">
  <% @tile_images.each do |tile_image| %>
    <div class="item" style='background-image: url(<%= cl_image_path(
    tile_image).gsub(/http/, 'https').gsub(/httpss/,'https') %>);'></div>
  <% end %>
</div>

<div class="container">
  <% if params[:search].present? %>
    <h2>Books matching your search "<%= params[:search] %>"</h2>
  <% else %>

  <% end %>
    <%= render 'book_list' %>
</div>

<% if params[:search].present? %> <!-- && @books.empty? -->
  <% content_for :after_js do %>
    <!-- user feedback -->
    $.get('books/google_search?search=<%= params[:search] %>')
  <% end %>
<% end %>
