.titles {
  display: flex;
  align-items: space-between;
  margin-bottom: 20px; 

}


.book-card {
  display: flex;
  align-items: space-between;
  margin-bottom: 20px;
}

.book-card .book-body {
  margin-left: 20px;
}

.book-cover {
  flex: 0 0 20%;
}

.book-body {
  flex: 0 0 40%;
}

.book-twitter {
  flex: 0 0 20%;
}

.book-mentions {
  flex: 0 0 20%
}


// Book show page CSS

.book-show {
  display: flex;
  align-items: space-between;
  margin-top: 50px;
}


.book-show-cover {
  flex: 0 0 20%;
}

.book-show-description {
  flex: 0 0 80%;
  margin-top: -25px;
}