.sidebar-box {
  display: flex;
  color: rgb(72, 72, 72) ;
  background: rgb(255, 255, 255) ;
  border-width: 1px ;
  border-style: solid ;
  border-color: rgb(235, 235, 235) ;
  border-image: initial ;
  border-radius: 5px ;
  margin-bottom: 20px;
  margin-top: 20px;
  padding: 20px;
}


