// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "layouts/index";
@import "components/index";
@import "pages/index";


a {
  color: #b73535;
}

body {
  color: #555;
  background: white;
}

.navbar-wagon {
  background: #D3D3D3;
}

.p {
  line-height: 1.5;
}

h1,
h2,
strong {
  color: #333;
}